<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/recipe.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="main">
	<div class="body">
		<div class="header-back">
			<h1>Recipe Complete!</h1>
		</div>

		<div class="get-recipe-id" id="{{recipe.id}}"></div>

		<div style="height: 100%;">
				<!-- catbug -->
			<img src="http://i.imgur.com/nbtpTSf.gif" style="width: 320px; height: auto; position: fixed; top: 13%; left: 18%;">

			<!-- confetti gif -->
			<img src="https://i.gifer.com/6ob.gif" style="position: fixed;margin-left:0%;width:50%;height:auto;">
			<img src="https://i.gifer.com/6ob.gif" style="position: fixed;margin-left:45%;width:50%;height:auto;">
			<!-- big finish button -->

					{{#if viewAlt}}
						<a href="/homepage_B">
					{{else}}
						<a href="/homepage">
					{{/if}}

					<button style="position: relative;margin-left:20%;margin-top:60%;padding:10px 100px 10px 100px;font-size: 30;color:white;background-color:orange;">FINISH</button>
				</a>
		</div>

		<div class="footer">
			<div class="buttons">
				<a href="{{prevUrl}}">
					<button>Previous</button>
				</a>
				<!-- {{#if viewAlt}}
					<a href="/homepage_B">
				{{else}}
					<a href="/homepage_A">
				{{/if}}
				</a> -->
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/complete.js"></script>
</body>
</html>
