<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/recipe.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="main">
	<div class="body">
		<div class="header-back">
			<h1>Recipe Complete!</h1>
		</div>

		<div class="get-recipe-id" id="{{recipe.id}}"></div>
		<div>good job lol </div>
		<div class="footer">
			<div class="buttons">
				<a href="{{prevUrl}}">
					<button>Previous</button>
				</a>
				<a href="/homepage">
					<button> Finish </button>
				</a>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/complete.js"></script>
</body>
</html>
