<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="header"> 
			<h1>Mamas</h1>
		</div>
		<div class="content">
			<div class="top-container">
				<div class="search-container">
					<input type="text" placeholder="Search for recipes">
				</input>
				</div>
				<div class="recipe-header">
					<div class="top-recipes"> 
						<a href=#recipes>
							<p>This week's top recipes</p>
						</a>
					</div>
					<div class="small-recipes">
						<a href=#recipes><p>For you</p></a>
						<a href=#recipes><p>Favorites</p></a>
						<a href=#recipes><p>Completed</p></a>
					</div>
				</div>
			</div>	
			<div id="recipes" class="recipe-list">
				<div class="recipe"> 
					<h3> Recipe #1 </h3>
				</div>
				<div class="recipe"> 
					<h3> Recipe #1 </h3>
				</div>
				<div class="recipe"> 
					<h3> Recipe #1 </h3>
				</div>
				<div class="recipe"> 
					<h3> Recipe #1 </h3>
				</div>
				<div class="recipe"> 
					<h3> Recipe #1 </h3>
				</div>
				<div class="recipe"> 
					<h3> Recipe #1 </h3>
				</div>
				<div class="recipe"> 
					<h3> Recipe #1 </h3>
				</div>
				<div class="recipe"> 
					<h3> Recipe #1 </h3>
				</div>
				<div class="recipe"> 
					<h3> Recipe #1 </h3>
				</div>
				<div class="recipe"> 
					<h3> Recipe #1 </h3>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="buttons">
				<a href="/">
					<button > Home </button>
				</a>
				<a href="pantry">
					<button> Pantry </button>
				</a>
				<a href="profile">
					<button> Profile </button>
				</a>
			</div>
		</div>
	</div>
	
</body>
</html>
