<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/login.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script src="/js/login.js"></script>
</head>
<body>

	<div class="header">
		<h1>Start Cooking!</h1>
	</div>
	<div class="login-container">
		<div class="input-container">
			<label>Username:</label>
				<input type="text" placeholder="cookingmama123">
			</input>
		</div>
		<div class="input-container">
			<label>Password:</label>
			<input type="text" placeholder="yummybunz">
			</input>
		</div>
		<div class="signup-container">
			<a href="homepage">
				<button>Login</button>
			</a>
			<a href="signup">
				<button>Sign Up</button>
			</a>
		</div>
		<div class="start-cooking">

			<img id="photo" class='img-responsive' src="http://hci.stanford.edu/courses/cs547/Resources/Pictures/klemmer_grad.jpg" />

			<h1>Welcome back, </h1><h1 id="name">Bob</h1>
			<a href="homepage">
				<button>Start Cooking!</button>
			</a>

		</div>
		<p class="fblogin">
			Login through Facebook
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
		</fb:login-button>
		</p>
	</div>
	<div class="footer">
		<div class="buttons">
			<a href="homepage">
				<button>Home</button>
			</a>
			<a href="profile">
				<button>Profile</button>
			</a>
		</div>
	</div>
</body>
</html>
