<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/login.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script src="/js/login.js"></script>
</head>
<body>
	<div id="fb-root"></div>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=323713868252111&autoLogAppEvents=1"></script>

	<div class="header">
		<h1>Start Cooking!</h1>
	</div>



	<div class="login-container">
		<div class="input-container">
				<input id="username" type="text" placeholder="Username">
			</input>
		</div>
		<div class="input-container">
			<input id="password" type="password" placeholder="Password">
			</input>
		</div>
		<div class="signup-container">
				<button id="login">Login</button>
			<a href="signup">
				<button id="signup">Sign Up</button>
			</a>
		</div>

		<h5 class="fblogin">
			<div class="fb-login-button" data-size="medium" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false" id="fblogin" scope="public_profile,email" onlogin="checkLoginState();"></div>
		</h5>
	</div>

</body>
</html>
