<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<button><img class="back-button" src="https://img.icons8.com/cotton/100/000000/circled-left-2.png" onclick="goBack()"></button>

			<script>
			function goBack() {
				window.history.back();
			}
			</script>
		<h1>Profile</h1>
	</div>

	<div class="accountinfo">
		<img src="https://img1.mashed.com/img/gallery/easy-dishes-that-make-you-seem-like-a-professional-chef/intro.jpg">
		<div class="accounttext">
			<h1>Bob</h1>
			<p>Recently cooked: Scrambled Eggs</p>
		</div>
	</div>

	<div class="profilebuttons">
		<a href="homepage">
			<p>Recently Cooked</p>
		</a>
	</div>

	<div class="profilebuttons">
		<a href="homepage">
			<p>Favorite Recipes</p>
		</a>
	</div>

	<div class="profilebuttons">
		<a href="settings">
			<p>Settings</p>
		</a>
	</div>

	<div class="footer">
		<div class="buttons">
			<a href="homepage">
				<button>Home</button>
			</a>
			<a href="profile">
				<button>Profile</button>
			</a>
		</div>
	</div>
</body>
</html>
