<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<h1>Profile</h1>
	</div>

	<div class="accountinfo">
		<div id="facebookPhoto" class="profile">
			<img id="photo" class='img-responsive' src="http://hci.stanford.edu/courses/cs547/Resources/Pictures/klemmer_grad.jpg" />
		</div>

		<div class="accounttext">
			<h1 id="name">Bob</h1>
			<p>Recently cooked: Scrambled Eggs</p>
		</div>
	</div>

	<div class="profilebuttons">
		<a href="homepage?type=completed" id="completed">
			<p>Completed Recipes</p>
		</a>
	</div>

	<div class="profilebuttons">
		<a href="homepage?type=favorites" id="favorites">
			<p>Favorite Recipes</p>
		</a>
	</div>

	<div class="profilebuttons">
		<div class="dropdown-settings">
			<button id="dietary" class="dropbtn">Dietary Restrictions</button>
			<div id="dietary" class="dropdown-content">
				<a id ="normal" href="#">Normal</a>
				<a id ="vegan" href="#">Vegan</a>
				<a id ="nutfree" href="#">Nut free</a>
				<a id ="glutenfree" href="#">Gluten Free</a>
			</div>
		</div>
	</div>

	<div class="profilebuttons">
		<a href="/">
			<p>Sign out</p>
		</a>
	</div>

	<div class="footer">
		<div class="buttons">
			<a href="homepage">
				<button>Home</button>
			</a>
			<a href="profile">
				<button>Profile</button>
			</a>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script src="/js/profile.js"></script>



</body>
</html>
