<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/recipe.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="main">
	<div class="body">

		<div class="header-back">
			<a href="homepage" class="back-button">back</a>
				<h1>{{recipeName}}</h1>
				<h1>{{recipe.time}}</h1>
		</div>


		<div class="info-content">
			<img src="/images/spaghetti.jpg"/>
		</div>
		<div class="start">
			<a href="steps">
				<button> Start </button>
			</a>
		</div>
		<div class="lists">
			<div class="ingredients-content">
				<h3>Ingredients</h3>
				<div class="servings-container">
					<p>Serving size: </p>
					<select>
						<option>1/2</option>
						<option selected="selected">1</option>
					 	<option>2</option>
					  	<option>3</option>
					  	<option>4</option>
					</select>
				</div>
			</div>
			<ul class="ingredients">
				<li>{{recipe.ingredients}}</li>
			
			</ul>
			<h3>Instructions</h3>
			<ol>
				<li>Whisk egg yolks.</li>
				<li>Mix 1/3 tbsp sugar, 1 cup flour, 1/2 tbsp baking soda.</li>
				<li>Mix dry ingredients into melted butter.</li>
				<li>Gently stir egg yolks into mixture.</li>
				<li>Bake at 350 degrees for 40 minutes.</li>
				<li>Let it cool for 15 minutes. </li>
				<li>Slice into segments. </li>
				<li>Add cinnamon as desired.</li>
			</ol>
		</div>
		</div>
		<div class="footer">
			<div class="buttons">
				<a href="homepage">
					<button > Home </button>
				</a>
				<a href="/profile">
					<button> Profile </button>
				</a>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script>
		$.each($.parseJSON(recipe.ingredients, function(index, value) {
			//$("ul.ingredients").append("<li>value</li>")
			console.log(value)
		});
	</script>

</body>
</html>
