<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
	<link href="/css/settings.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="header-back">
			<a href="homepage" class="back-button">back</a>
			<h1>Settings</h1>
		</div>
		<div>
			{{#each setting-list}}
			<div class="dropdown-settings">
				<button class="dropbtn">{{setting}}</button>
				<div id="myDropdown" class="dropdown-content">
					<a href="#">normal</a>
					<a href="#">vegan</a>
					<a href="#">nutfree</a>
					<a href="#">glutenfree</a>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
	<div class="footer">
		<div class="buttons">
			<a href="homepage">
				<button > Home </button>
			</a>
			<a href="profile">
				<button> Profile </button>
			</a>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/search.js"></script>

</body>
</html>
