<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/signup.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
    <div class="signup-container">
        <div class="header">
            <h1>Sign Up with Noms</h1>
        </div>
        <div class="content">
            <div class="signup-container content">

                    <div class="input-container" id="username">
                        <label>Create Username:</label>
                        <input id="name" type="text" name="username" placeholder="cookingmamas123">
                        </input>
                    </div>

                    <div class="input-container" id="password">
                        <label>Enter Password:</label>
                        <input id="pw" type="password" name="password" placeholder="yummybunz" required>
                        </input>
                    </div>


                    <div class="input-container" id="restriction">
                         <label>Select Dietary Restrictions:</label>
                         <input type="radio" class="select-type" name="restriction" id="vegan"> None
                         <input type="radio"  class="select-type" name="restriction" id="nutfree"> Nut free
						<input type="radio"  class="select-type" name="restriction" id="vegan"> Vegan
                         <input type="radio"  class="select-type" name="restriction" id="glutenfree"> Gluten free
                    </div>


                    <div class="buttons" id="signup">
												<button>Sign up!</button>
                    </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>
