<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/signup.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
	<div class="main">
        <div class="header">
            <h1>Sign Up with Noms</h1>
        </div>

				<div class = "content" id="recipe-tutorial">
						<div class="container" id="recipe-container">
							<label class= "top-label">Safe Cooking and Healthy Living</label>
						<hr>
							<label class="small-label">Noms is a cooking app that contains recipes for any dietary restriction. Click into any recipe to find ingredient alternatives that suits your specific diet.</label>
							<button id="tutorial-1">Got it!</button>
						</div>
				</div>

				<div class = "content" id="4u-tutorial">
						<div class="container" id="4u-container">
							<label class= "top-label">This page has all the recipes for your dietary restriction!</label>
							<div class="imgcontainer">
								<img src="/images/icons8-4u.png">
							</div>
							<hr>
							<label class="small-label">All the recipes displayed here are for your specific diet. Don't worry about being allergic to certain ingredients. Explore all recipes here!</label>
							<button id="tutorial-2">Got it!</button>
						</div>
				</div>

				<div class = "content" id="fav-tutorial">
						<div class="container" id="fav-container">
							<label class= "top-label">Add a recipe to your favorites!</label>
							<div class="imgcontainer">
								<img src="/images/star-empty.png">
							</div>
							<hr>
							<label class="small-label">Click the star icon to add or remove a recipe into your favorites list.</label>
							<button id="tutorial-3">Got it!</button>
						</div>
				</div>

				<div class="content" id="complete-tutorial">
						<div class="container" id="complete-container">
							<label class= "top-label">Look at all the recipe's you've completed!</label>
							<div class="imgcontainer">
								<img src="/images/completed.png">
							</div>
							<hr>
							<label class="small-label">Click the completed page to see all the recipes you've made before. To mark a recipe as completed, finish the tutorial or click finish from the main recipe page.</label>
							<button id="tutorial-4">Start Cooking Now!</button>
						</div>
				</div>

        <div class="content" id="diet">
            <div class="diet-container" id="restriction">
                 <label class="top-label">Select Your Dietary Restriction:</label>

								 <input type="radio" class="select-type" name="restriction" id="all">
								 <label for="all" class="side-label">None</label>

                 <input type="radio"  class="select-type" name="restriction" id="nutfree">
								 <label for="nutfree" class="side-label">Nut free</label>

								 <input type="radio"  class="select-type" name="restriction" id="vegan">
								 <label for="vegan" class="side-label">Vegan</label>

                 <input type="radio"  class="select-type" name="restriction" id="glutenfree">
								 <label for="glutenfree" class="side-label">Gluten Free</label>
            </div>

						<button id="signup">Sign up!</button>
        </div>
			</div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>
