<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/signup.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>

        <div class="header">
            <h1>Sign Up with Noms</h1>
        </div>
        <div class="content">


                    <!-- <div class="input-container" id="username">
											<input id="username" type="text" placeholder=" Create Username">
										</input>
                    </div>

                    <div class="input-container" id="password">
											<input id="username" type="password" placeholder=" Create Password">
										</input>
                    </div> -->


                    <div class="diet-container" id="restriction">
                         <label class="top-label">Select Your Dietary Restriction:</label>

												 <input type="radio" class="select-type" name="restriction" id="all">
												 <label for="all" class="side-label">None</label>

                         <input type="radio"  class="select-type" name="restriction" id="nutfree">
												 <label for="nutfree" class="side-label">Nut free</label>

												 <input type="radio"  class="select-type" name="restriction" id="vegan">
												 <label for="vegan" class="side-label">Vegan</label>

                         <input type="radio"  class="select-type" name="restriction" id="glutenfree">
												 <label for="glutenfree" class="side-label">Gluten Free</label>
                    </div>


                    <div class="buttons" id="signup">
												<a href="homepage">
												<button>Sign up!</button>
											</a>
                    </div>

        </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>
