<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/signup.css" rel="stylesheet">
	<link href="/css/global.css" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>Sign Up with Noms</h1>
        </div>
        <div class="content">
            <div class="signup-container content">
                <!-- <form class="enter-info" action="routes/restrictionData.js" method="post"> -->

                    <div class="input-container" id="username">
                        <label>Username:</label>
                        <input type="text" name="username" placeholder="cookingmamas123">
                        </input>
                    </div>

                    <div class="input-container" id="password">
                        <label>Password:</label>
                        <input type="text" name="password" placeholder="yummybunz">
                        </input>
                    </div>


                    <div class="input-container" id="restriction">
                         <label>Any Dietary Restrictions?</label>
                         <input type="radio" name="restriction" value="vegan"> None
                         <input type="radio" name="restriction" value="nutfree"> Nut free
												 <input type="radio" name="restriction" value="vegan"> Vegan
                         <input type="radio" name="restriction" value="nutfree"> Gluten free
                    </div>

										<div class="input-container" id="allergies">
                         <label>Any Allergies?</label>
                         <input type="radio" name="restriction" value="vegan"> None
                         <input type="radio" name="restriction" value="nutfree"> Tree nuts
												 <input type="radio" name="restriction" value="vegan"> Seafood
                         <input type="radio" name="restriction" value="nutfree"> Dairy
                    </div>

										<div class="input-container" id="spice">
                        <label>Spice Tolerance:</label>
                        <input type="number" name="spice" placeholder="5" min="0" max="10">
												</input>
                    </div>

                    <div class="buttons">
											<a href="homepage">
												<button>Sign up!</button>
											</a>
                        <!-- <input class="buttons" id="signup-button" type="submit" value="SIGN UP"> -->
                    </div>
                <!-- </form> -->
            </div>
        </div>
        <div class="footer">
            <div class="buttons">
                <a href="homepage">
                    <button>Home</button>
                </a>
                <a href="profile">
                    <button>Profile</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
