body {
  background-color: #ceedff;
}

.main {
  /*keep things centered*/
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    background-color: #ceedff;
}

.header,.header-back {
  text-align: center;
  background-color: #FFB852;
}

.header h1 {
  /*dark orange #FFB852*/

}
.favorites-button{
      margin: 10px;
      margin-left: 0px;

}
.favorites-button img{
  width: 25px;
  height: 25px;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: gray;
}

.footer button {
  background-color: #FFB852;
  border: none;
  /*border: 2px;
  background-color: #4CAF50;
  border-style: solid;*/
  color: #636363;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.4), 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button{
  color: white;
  background-color: #FFB852;
	font-size: 100%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
}

/* Dropdown button*/
.dropdown button {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.header-back {
  display: flex;
  flex-direction: row;
}

.header-back h1 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-right:30px;
}

.header-back h1 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-right:30px;
  padding: 10px;
}

.header-back button {
  background: none;
  border: none;
  height: 60px;
  width: 60px;
  position: relative;
  padding-top: 30px;
  left: 2%;
}

.back-button {
  width: 70%;
}


.recipe {
  width: 94%;
  left: 3%;
  margin-bottom: 20px;
}

.recipe img {
  height: 280px;
  width: 100%;
  padding: 5px 5px 5px 5px;
}

.recipe h5 {
  margin-left: 15px;
  font-size: 25;
  color: black;
}

.recipe p {
  margin: 2px 2px;
}

.recipe-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 20px;
}

.recipe-details p {
  color: white;
}

.recipe-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin: 0px 20px 0px 20px;
}

.recipe-link {
  text-decoration-color: gray;
  color: gray;
}

a:hover, a:focus {
  text-decoration-color: gray;
}


.detail {
  background-color: #aecbfc;
  padding: 3px 10px 3px 10px;
  display: flex;
}

#time
{
  background: none;
  color: #666666;
  padding: 3px 10px 3px 10px;
  display: flex;
}

.tag {
  background-color: #ffffff;
  padding: 3px 10px 3px 10px;
  font-family: Courier;
}

.time-icon{
 d: path('M104.53333,22.4v37.33333c-0.03808,2.69275 1.37667,5.19741 3.70252,6.55489c2.32585,1.35749 5.20245,1.35749 7.5283,0c2.32585,-1.35749 3.7406,-3.86215 3.70252,-6.55489v-20.89792c37.61708,3.90606 67.2,34.49129 67.2,73.16458c0,41.32452 -33.34215,74.66667 -74.66667,74.66667c-41.32452,0 -74.66667,-33.34215 -74.66667,-74.66667c0,-18.32106 6.58499,-34.99815 17.51458,-47.97917c1.71954,-2.04235 2.21883,-4.84694 1.30977,-7.35724c-0.90906,-2.5103 -3.08834,-4.3449 -5.71687,-4.81268c-2.62853,-0.46777 -5.30695,0.50235 -7.02623,2.54492c-13.09814,15.55658 -21.01458,35.69482 -21.01458,57.60417c0,49.39548 40.20452,89.6 89.6,89.6c49.39548,0 89.6,-40.20452 89.6,-89.6c0,-49.39548 -40.20452,-89.6 -89.6,-89.6zM70.14583,67.25833c-2.18645,0.31885 -3.8185,2.8833 -2.3625,5.1625c10.9312,17.15093 29.59646,46.07563 33.65834,50.1375c5.83146,5.83147 15.28519,5.83147 21.11666,0c5.83147,-5.83146 5.83147,-15.28519 0,-21.11666c-4.06187,-4.06934 -32.98656,-22.72714 -50.1375,-33.65834c-0.75973,-0.48533 -1.54618,-0.63128 -2.275,-0.525z')
}

.weight-icon{
  d: path("M59.73333,44.8c-4.1216,0 -7.46667,3.34507 -7.46667,7.46667v119.46667c0,4.1216 3.34507,7.46667 7.46667,7.46667h22.4v-52.26667h59.73333v52.26667h22.4c4.1216,0 7.46667,-3.34507 7.46667,-7.46667v-119.46667c0,-4.1216 -3.34507,-7.46667 -7.46667,-7.46667h-22.4v52.26667h-59.73333v-52.26667zM22.4,67.2c-4.1216,0 -7.46667,3.34507 -7.46667,7.46667v22.4h-14.93333v29.86667h14.93333v22.4c0,4.1216 3.34507,7.46667 7.46667,7.46667h14.93333v-89.6zM186.66667,67.2v89.6h14.93333c4.1216,0 7.46667,-3.34507 7.46667,-7.46667v-22.4h14.93333v-29.86667h-14.93333v-22.4c0,-4.1216 -3.34507,-7.46667 -7.46667,-7.46667z")
}

.svg-style {
  fill:white;
  margin-right: 5px;
}
