
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-container {
   padding: 20px;
}

.search-container input {
  width: 100%;
}

#searchbox{
  border-radius: 20px;
}

#logo{
  max-height: 30%;
  max-width: 30%;
}

.recipe-header {
  margin-top: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-header p {
  text-align: center;
  color: black;
  padding-top: 25px;
}

.available-recipes {
  display: flex;
  flex-wrap: wrap;
}

.top-recipes {
  height: 50%;
  border-radius: 25px;
  color: white;
  /*background: #FFB852;*/
  background-color: #FFB852;
}

.small-recipes {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.small-recipes a {
  margin-left: 5px;
  margin-right: 5px;
  height: 50%;
  border-radius: 25px;
  background-color: #FFB852;
  color: black;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.small-recipes p {
  position: absoulte;
  bottom: 100px;
}

.available-recipes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.recipe img {
  height: auto;
  width: 100%;
  padding: 5px 5px 5px 5px;
}

.recipe {
  width: 150px;
  margin: 5px;
  background-color: #FFB852;
  position: relative;
  margin-top: 10px;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.4), 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
}

#filterbutton button{
    background-color: #FFB852;
    border: none;
    color: #636363;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    width: 100%;
}

.apply-filters button{
    background-color: #FFB852;
    border: none;
    color: #636363;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.filter-tooltip {
  width: 100%;
  background-color: #aecbfc;
}

.tooltip-flexbox {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.tooltip-rows{
  display: flex;
  flex-direction: row;
}