
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backbutton button {
  background: none;
  border: none;
  height: 60px;
  width: 60px;
  position: relative;
  padding-top: 15px;
  left: 2%;
  float: left;
}


.top-container {
   padding: 20px;
}

.search-container input {
  width: 100%;
}

#searchbox{
  border-radius: 20px;
}

#logo{
  max-height: 30%;
  max-width: 30%;
  margin-right: 60px
}

.recipe-header {
  margin-top: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-header p {
  text-align: center;
  color: black;
  padding-top: 25px;
}

.top-recipes {
  height: 50%;
  border-radius: 25px;
  color: white;
  /*background: #FFB852;*/
  background-color: #FFB852;
}

.small-recipes {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.small-recipes a {
  margin-left: 5px;
  margin-right: 5px;
  height: 80%;
  border-radius: 25px;
  background-color: #FFB852;
  color: black;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.small-recipes p {
  position: absolute;
  bottom: 100px;
}

.recipe {
  width: 100%;
  height: 390px;
  background-color: #FFB852;
  margin-top: 10px;
  margin: 10px;
}

.available-recipes {
  display: flex;
  flex-wrap: wrap;
}
