:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backbutton button {
  background: none;
  border: none;
  height: 60px;
  width: 60px;
  position: relative;
  padding-top: 15px;
  left: 2%;
  float: left;
}

.top-container {
   padding: 20px;
}

.search-container input {
  width: 100%;
}

#searchform
{
	/* width: 50% */
	position: relative;
  margin-bottom: 1rem;
}

#searchform input
{
	height: auto;
  border-radius: 2rem;
}

#searchform>input,
#searchform>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

#searchform>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
}

::placeholder
{
    color: #6B6A6B;
}

#logo{
  max-height: 30%;
  max-width: 30%;
  margin-right: 60px
}

.recipe-header {
  margin-top: 10px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-header p {
  text-align: center;
  color: black;
  padding-top: 25px;
}

.top-recipes {
  height: 50%;
  border-radius: 25px;
  color: white;
  /*background: #FFB852;*/
  background-color: #FFB852;
}

.small-recipes {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.small-recipes a {
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  border-radius: 25px;
  background-color: #FFB852;
  color: black;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.small-recipes p {
  position: absolute;
  bottom: 100px;
}

.recipe {
  width: 100%;
  height: 390px;
  background-color: #FFB852;
  margin-top: 10px;
  margin: 10px;
}

.available-recipes {
  display: flex;
  flex-wrap: wrap;
}
