.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-content {
  height: 200px;
}
.info-content img{
  width: 100%;
  height: 100%;
}
.ingredients-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.lists {
	margin-left: 10px;
}

.start {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.start a {
	width: 100%;
	margin: 10px;
}

.start button {
  width: 100%;
  border: 2px;
  border-color: black;
  border-style: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}

.steps-count {
  text-align: center;
}
